header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../image/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  padding: 0 3%;
}

.logo img {
  width: 170px;
  object-fit: cover;
}

header p {
  background-color: var(--color-green);
  color: var(--color-primary);
  padding: 0.4rem 1rem;
  border-radius: 0.6rem;
  font-size: 1.7rem;
  font-weight: 500;
}

.input-control {
  width: 100%;
  max-width: 550px;
  background-color: var(--bg-primary);
  padding: 1rem;
  border-radius: 0.6rem;
  box-shadow: var(--shadow);

  display: flex;
  align-items: center;
}

.input-control button {
  background: transparent;
  cursor: pointer;
}

.input-control button i {
  padding-right: 0.7rem;
  border-right: 1px solid var(--color-gray);
  color: var(--color-gray);
  font-size: 1.6rem;
}

.input-control input {
  margin-left: 0.7rem;
  width: 100%;
  background: transparent;
  color: var(--color-primary);
}

.input-control input::placeholder {
  color: var(--color-gray);
}
